<ion-header no-border translucent>
  <ion-toolbar>
    <ion-title>Comunicaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item lines="none" routerLink="/detalle">
        <ion-avatar slot="start">
            <img src="./assets/img/boy.svg">
          </ion-avatar>
          <ion-label>
              <h1 class="hijo">Benjamin Vallejos</h1>
              <p>Curso 8 Basico - A</p>
          </ion-label>
          <ion-row>
            <ion-col size="12">
                  <ion-chip outline="true">
                      <ion-icon name="school"></ion-icon>
                      <ion-label >Jean Jake</ion-label>
                    </ion-chip>
            </ion-col>
          </ion-row>
    </ion-item>
    <ion-item lines="none" routerLink="/detalle">
      <ion-avatar slot="start">
          <img src="./assets/img/girl.svg">
        </ion-avatar>
        <ion-label>
            <h1 class="hijo">Antonia Vallejos</h1>
            <p>Curso 7 Basico - B</p>
        </ion-label>
        <ion-row> 
          <ion-col>
            <ion-chip outline="true">
                <ion-icon name="school"></ion-icon>
                <ion-label >Jean Jake</ion-label>
              </ion-chip>
          </ion-col>
        </ion-row>
  </ion-item>
  </ion-list>
</ion-content>
