<ion-header no-border translucent>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/comunicaciones"></ion-back-button>
          </ion-buttons>
          <ion-title text-capitalize>Comunicaciones</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1]" (click)="abrirModal()">
        <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="./assets/img/teacher.svg">  
            </ion-avatar>
            <ion-row>
              <ion-col size="12" class="ion-margin-top">
                <ion-label>Eduardo Vallejos</ion-label>
              </ion-col>
              <ion-col size="12">
                  <ion-label>profesor | matematicas</ion-label>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              <ion-buttons slot="end">
                    <ion-button color="primary" small clear (click)="abrirModal()">
                            Ver mas...
                    </ion-button>
              </ion-buttons>
          </ion-card-content>
    </ion-card>
</ion-content>
