<ion-header no-border translucent>
  <ion-toolbar>
    <ion-title>Muro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='single-post-home' *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
    <ion-item lines="none">
      <ion-avatar slot="start" class="ion-margin-top ion-margin-bottom">
        <img src="./assets/img/insignia.png">
      </ion-avatar>
      <ion-label>Colegio Jean</ion-label>
    </ion-item>
    <img src="https://img.mobiscroll.com/demos/card_2.png" alt="">
    <ion-item>
      <ion-label>
        <p>se el primero en decir me gusta</p>
      </ion-label>
    </ion-item>
    <hr>
    <ion-buttons class="ion-margin-start">
        <ion-button color="primary" clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Me gusta</div>
        </ion-button>
      </ion-buttons>
    <ion-card-content>
      <ion-card-title class="ion-margin-bottom">Card Title</ion-card-title>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>