.single-post-home{

    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0px;
    margin-top: 1px;
    box-shadow: 1px 1px rgba(160, 160, 160, 0.453);
}
