<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="muro">
      <ion-icon name="school"></ion-icon>
      <ion-label>Muro</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comunicaciones">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Comunicaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apoderado">
      <ion-icon name="person"></ion-icon>
      <ion-label>Apoderado</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
