<ion-content>
  <div class="background-avatar">
    <img src="./assets/img/fondo-younic.jpg">
  </div>
  <ion-row class="avatar-apoderado">
    <ion-col size="12">
      <img src="./assets/stan-lee.jpg" />
    </ion-col>
    <ion-col size="12">
      <h3>Eduardo Vallejos</h3>
    </ion-col>
  </ion-row>

    <ion-item-divider>
      <ion-label>
        Datos del Apoderado
      </ion-label>
    </ion-item-divider>

    <ion-row class="detalle-apoderado ion-margin-top"  *ngFor="let item of [1,1,1,1]">
      <ion-col size="12">
          <ion-item lines="none">
              <ion-icon name="arrow-dropright" slot="start"></ion-icon>
              <ion-row>
                <ion-col size="12">
                  <div class="titulo-datos-apoderado">
                     <span>Nombre</span>
                  </div>
                </ion-col>
                <ion-col size="12">
                    Eduardo Vallejos
                  </ion-col>
              </ion-row>
            </ion-item>
      </ion-col>
    </ion-row>

    <ion-item-divider class="ion-margin-top">
      <ion-label>
        Mis Hijos
      </ion-label>
    </ion-item-divider>

    
      <ion-row>
        <ion-col size="3" class="ion-no-margin" *ngFor="let item of [1,1]">
          <ion-item lines="none">
              <ion-avatar>
                  <img src="./assets/img/boy.svg">
                </ion-avatar>
          </ion-item>
          <ion-label>Benjamin</ion-label>
        </ion-col>
      </ion-row>
      
      <ion-item-divider class="ion-margin-top">
          <ion-label>
            Colegio
          </ion-label>
        </ion-item-divider>

        <ion-row class="detalle-apoderado" *ngFor="let item of [1,1,1,1]">
            <ion-col size="12">
                <ion-item lines="none">
                    <ion-icon name="school" slot="start"></ion-icon>
                    <ion-label>Jean Jaque</ion-label>
                  </ion-item>
            </ion-col>
          </ion-row>

</ion-content>