.background-avatar{
    img{
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 11%;
        border-bottom-right-radius: 11%;
    }
    
}

.avatar-apoderado{
    margin-left: 35%;
    img{
    border-radius: 50%;
    width: 38%;
    height: 111px;
    margin-top: -178px;
    position: absolute;
    border: 4px solid #ffffff;
    }
    h3{
        margin-left: -29px;
        margin-top: -53px;
        color: #ffffff;
    }
}

.detalle-apoderado{
    .titulo-datos-apoderado{
        line-height: 0px;
        font-weight: 900;
    }
}